
body {
  font-family: var(--font-family);
  font-size: var(--font-size-body);
  color: var(--text-color);
  background-color: var(--background-color);
  line-height: 1.6;
  transition: var(--transition);
}

.layout {
  display: grid;
  grid-template-areas: 'header  header' 'sidebar main ' ' footer  footer';
  grid-template-columns: minmax(0, 300px) 1fr;
  grid-template-rows: auto 1fr auto;
  gap: 10px;
  padding: 5px;
  min-height: 100vh;
}

.header {
  grid-area: header;
  height: auto;
  padding: 5px;

  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  gap: var(--spacing-xl);

  border-radius: var(--border-radius);
  box-shadow: var(--shadow);
}

.sidebar {
  grid-area: sidebar;
  height: auto;
  padding: 5px;

  border-radius: var(--border-radius);
  box-shadow: var(--shadow);
}

.main {
  grid-area: main;
  height: auto;
  padding: 5px;

  border-radius: var(--border-radius);
  box-shadow: var(--shadow);
}

.footer {
  grid-area: footer;
  height: auto;
  padding: 5px;

  border-radius: var(--border-radius);
  box-shadow: var(--shadow);
}

@media (min-width: 768px) {
  :root {
    --font-size-body: 18px;
  }
}
