.homepage__container {
  margin: 0 auto;
  padding: var(--spacing-lg);

  display: flex;
  flex-direction: column;
  gap: var(--spacing-lg);
}

.homepage__inner {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: var(--spacing-xl);
}

.homepage__inner p {
  padding: 0 0 0 var(--spacing-sm);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: var(--spacing-2xl);

  border-radius: var(--border-radius);
  border: 1px solid var(--border-color);
}

.homepage__inner p button {
  width: 100px;
  padding: var(--spacing-sm);

  font-size: var(--font-size-lg);
  font-weight: var(--font-weight-medium);

  cursor: pointer;
  background-color: var(--background-primary-color);

  border-radius: var(--border-radius);
  border: 1px solid var(--border-color);
}

.homepage__inner p button:hover {
  color: var(--secondary-color);
  background-color: var(--background-hover-color);
}

.news-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: left;
  align-items: center;
  gap: var(--spacing-md);
}

.news-item {
  max-width: 32%;
  padding: var(--spacing-lg);
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow);
  transition: var(--transition);
}

.news-item:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}
